@charset "utf-8";

#shop-content {
	width:100%;
	padding:10px;
}

#shop-content2 {
	float:none;
	width:100%;
	padding:10px 110px 10px 10px;
	background-color:#ffffff;
}

.guide h3 {
	margin:6px 0px;
	padding:3px 6px;
	border-left:5px solid #afcd00;
	border-bottom:1px solid #afcd00;
	font-size:18px;
	font-weight:bold;
}

.guide h4 {
	margin:0px 10px;
	padding:3px 6px;
	background-color:#e7e7e7;
	font-size:12px;
	font-weight:bold;
}

.guide h5 {
	margin:0px 10px;
	padding:3px 12px;
	font-size:12px;
	font-weight:bold;
}

.guide p {
	padding:5px 30px 10px;
}

.guide table {
	margin-left:15px;
	margin-bottom:20px;
    width: 100%;
}

.guide table th{ 
	padding:6px;
	border:1px solid #cccccc;
	background-color:#f3f3f3;
	text-align:center;
}

.guide table td{ 
	padding:6px;
	border:1px solid #cccccc;
	text-align:left;
}

.guide table td ul{ 
	padding:10px 15px;
}

.guide ol li {
	margin: 0 48px 6px;
	list-style:outside decimal;
}

.regist h4 {
	margin:5px 0px 10px;
	border-bottom:1px solid #ccc;
    padding-bottom: 15px;
	color:#000000;
	font-weight:bold;
    font-size: 26px;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "MS PGothic", sans-serif;
    margin-top: 5%;
    position: relative;
    padding-left: 15px;
    margin-bottom: 3%;
    &:after{
        position: absolute;
        content: "";
        background: #44478c;
        left: 0;
        top: -5px;
        height: 35px;
        width: 5px;
    }
}

.cartflow {
	width:100%;
    li{
        display: block;
        padding: 20px 0 19px;
    }
    .cartflow-now{
        border:2px solid #85be44;
        background-color:#85be44;
        color:#ffffff;
    }
    .cartflow-none{
        border:2px solid #cccccc;
        background-color:#fff;
    }
    .cartflow-fin {
        border:2px solid #ffffff;
        background-color:#ffffff;
    }
    .fontnoto{
        max-width: 220px;
        width: 21%;
        text-align:center;
    }
    .nobder{
        width: 15px;
    }
}

.price-info {
	padding:5px 0 20px 0;
	text-align:left;
}

#error-disp p {
	padding:20px;
	text-align:center;
	color:#ff0000;
	font-weight:bold;
}

#error-disp form {
	padding-top:10px;
	text-align:center;
}

#muryou {
	width:100%;
	text-align:right;
}

#cartcheck, #cartlist-table {
	border-collapse:collapse;
	border:1px solid #cccccc;
    width: 100%;
    margin-bottom: 10px;
    th{
        padding:15px 10px;
        border:1px solid #eee;
        background:#eee;
        text-align:center;
        white-space:nowrap;
    }
    td {
        padding:15px 10px;
        text-align:center;
        border:1px solid #eee;
    }
    tfoot{
        th{
            text-align:right;
        }
        td {
            text-align:right;
        }
    }
}

#cart-pw {
	padding:10px 0px;
    box-sizing: border-box;
    table{
        margin: 0 auto;
        width: 80%;
        box-sizing: border-box !important;
        margin-bottom: 20px;
        th, td{
            padding: 10px 15px;
        }
        input{
            width: 100%;
            border: 1px solid #ddd;
            padding: 10px;
        }
    }
    fieldset {
        border: 1px solid #ccc;
        legend{
            margin-left: 20px;
        }
    }
    #pw-input{
        margin-top: 30px;
        box-sizing: border-box;
        border-collapse:collapse;
	    border-spacing:0px;
        th, td{
            border:1px solid #ddd;
        }
    }
}

.input-data, .check-data {
    width: 100%;
	margin:15px 0px 30px;
	border-collapse:collapse;
	border:1px solid #cccccc;
    li{
        margin: 5px 0;
    }
    .red{
        color: #f00
    }
    input[type="radio"], input[type="checkbox"] { vertical-align: -0.1em; }
    input[type="text"]{
        width: 100%;
        border: 1px solid #ddd;
        padding: 10px;
    }
    input[type="password"]{
        width: 40%;
        border: 1px solid #ddd;
        padding: 10px;
        
    }
    input[type="email"]{
        width: 30%;
        border: 1px solid #ddd;
        padding: 10px;
        margin: 5px 0;
    }
    select{
        width: 40%;
        border: 1px solid #ddd;
        padding:8px 10px;
    }
    textarea{
        width: 100%;
        border: 1px solid #ddd;
        padding: 10px;
        font-size: 14px;
    }
    th{
        padding:15px 15px;
        border:1px solid #cccccc;
        background-color:#eee;
        text-align:left;
        width: 250px;
    }
    td{
        padding:15px 15px;
        border:1px solid #cccccc;
        text-align:left;
    }
    .w26per{
        width: 29% !important;
    }
}

.regist input#label1,.regist input#label2,.regist input#label13,.regist input#label14,.regist input#label15,.regist input#label16,
.regist input#address1,.regist input#address2,
.regist input#deli_address1,.regist input#deli_address2,
.regist textarea#remark {
	ime-mode:active;
}

.regist input#zip1,.regist input#zip2,
.regist input#tel1,.regist input#tel2,.regist input#tel3, 
.regist input#deli_zip1,.regist input#deli_zip2,
.regist input#deli_tel1,.regist input#deli_tel2,.regist input#deli_tel3, 
.regist input#email,.regist input#oldmail,.regist input#newmail,.regist input#chkmail,
.regist input#pwd,.regist input#npwd,.regist input#npwd2 {
	ime-mode:disabled;
}

.step-jump {
	padding:10px 0 20px;
	text-align:center;
    input{
        border: none;
        cursor: pointer;
        color: #fff;
        background: #44478c;
        width: 240px;
        min-height: 50px;
        -webkit-transition: ease-out 0.3s;
        -moz-transition: ease-out 0.3s;
        -o-transition: ease-out 0.3s;
        transition:  ease-out 0.3s;
        &:hover{
            opacity: 0.7;
        }
    }
    .back{
        border: none;
        cursor: pointer;
        color: #fff;
        background: #44478c;
        width: 240px;
        min-height: 50px;
    }
}

.step-jump2 {
	width:100%;
	margin:40px auto 0px;
	text-align:center;
    #step-left input{
        vertical-align: top;
        background: #44478c;
        text-align: center;
    }
    #step-right {
        text-align: right;
        vertical-align: top;
    }
}

.step-jump3 {
	padding-top:10px;
	text-align:right;
}

.step-jump4 {
    max-width: 860px;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    li{
        border: 2px solid #44478c;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        a{
            display: block;
            font-size: 16px;
            width: 220px;
            padding: 14px 30px;
            color: #44478c;
            text-align: center;
            line-height: normal;
            font-weight: bold;
            text-decoration: none;
        }
    }
}

.step-jump4 .clear {
	clear:both;
}

#next-credit form {
	padding:10px 20px 20px;
	line-height:150%;
}

#next-credit input {
	margin:20px;
}

#fin-cart {
	padding:10px 20px 20px;
	line-height:150%;
}

#cart-pw #pw-input2 {
	width:80%;
	border-collapse:collapse;
	border-spacing:0px;
}

#cart-pw #pw-input2 th {
	padding:15px 15px;
	border:1px solid #dddddd;
	text-align:right;
	white-space:nowrap;
}

#cart-pw #pw-input2 td {
	width:100%;
	padding:15px 15px;
	border:1px solid #dddddd;
}

#cart-pw #pw-input2 td label {
	text-align:right;
}

input.next {
	font-size: 100%;
	background-color: #FF3300;
	color: #FFF;
	text-decoration: none;
	border-top: 1px solid #cecece;
	border-bottom: 2px solid #4a4a4a;
	border-left: 1px solid #cecece;
	border-right: 2px solid #4a4a4a;
}

input.next:hover {
	border-bottom: 1px solid #cecece;
	border-top: 2px solid #4a4a4a;
	border-right: 1px solid #cecece;
	border-left: 2px solid #4a4a4a;
}

input.next2 {
	font-size: 100%;
	font-weight: 500;
	color:#fff;
}


@media only screen and (max-width: 767px){
    .cartflow {
        .fontnoto{
            width: 42%;
            margin-bottom: 4%;
        }
    }
    .input-data, .check-data {
        border: 0;
        border-bottom: 1px solid #ccc;
        input[type="text"]{
            width: 100%;
            border: 1px solid #ddd;
            padding: 10px;
        }
        input[type="password"]{
            width: 60%;
        }
        input[type="email"]{
            width: 100%;
        }
        select{
            width: 100%;
        }
        th{
            width: 100%;
            display: block;
            padding:15px 15px;
            border-bottom: 0;
        }
        td{
            width: 100%;
            display: block;
            border-bottom: 0;
            .w40per{
                width: 36% !important;
            }
        }
    }
    .step-jump {
        width: 100%;
        input{
            width: auto;
            min-width: 170px;
        }
        li{
            width: auto;
            margin: 0 auto;
            width: 220px;
            input{
                width: 100%;
                width: 220px !important;
                margin-bottom: 3%;
            }
        }
    }
    .step-jump4 {
        width: 100%;
        margin: 0 auto;
        li{
            width: 70%;
            margin: 10px auto;
            a{
                width: auto;
                padding: 14px 10px;
            }
        }
    }
    .regist h4 {
        font-size: 22px;
        margin-top: 8%;
        &:after{
            height: 30px;
        }
    }
    #cart-pw {
        table{
            width: 94%;
            th, td{
                padding: 10px;
                line-height: normal;
            }
        }
        fieldset {
            legend{
                margin-left: 10px;
                line-height: normal;
            }
        }
        #pw-input{
            border-bottom:1px solid #ddd;
            th, td{
                width: 100%;
                padding: 10px 15px;
                display: block;
                border-bottom: 0;
                a{
                    margin-top: 10px;
                    display: block;
                }
            }
        }
        #pw-input2{
            width: 90%;
            border-bottom:1px solid #ddd;
            th, td{
                width: 100%;
                padding: 10px 15px;
                display: block;
                border-bottom: 0;
                text-align: left;
                a{
                    margin-top: 10px;
                    display: block;
                }
            }
        }
    }
}

@media only screen and (max-width: 320px){
    .cartflow {
        .fontnoto{
            font-size: 12px;
        }
    }
    .step-jump {
        input{
            min-width: 140px;
        }
    }
}



















